<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduationproject.mapper.ReceivedInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.graduationproject.pojo.ReceivedInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mark" jdbcType="SMALLINT" property="mark" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>